{% extends 'base.html' %}

{% block title %}Sign up{% endblock %}

{% block footer %}
  

  <link rel="stylesheet" href="/css/showHidePassword.wink.css">

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

  <script src="/js/hideShowPassword.min.js"></script>
  <script src="/js/app.js"></script>

  <script>
    $(document).ready(function() {
        /**
         * Validate the form
         */
        $('#formSignup').validate({
            rules: {
                name: 'required',
                email: {
                    required: true,
                    email: true,
                    remote: '/account/validate-email'
                },
                password: {
                    required: true,
                    minlength: 6,
                    validPassword: true
                }
            },
            messages: {
                email: {
                    remote: 'Email already taken'
                }
            }
        });


        /**
          * Show password toggle button
          */
        

       
    $('#show-password').change(function(){
      $('#inputPassword').hideShowPassword($(this).prop('checked'));
    });
    });
  </script>

  <style>
    #formSignup label.error {
      margin-left: 10px;
      width: 100%;
      color: red;
    }
  </style>
{% endblock %}
{% block body %}
    <h1>Sign up</h1>
    {% if user.errors is not empty %}
        <p>Errors:</p>
        <ul>
            {% for error in user.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form class="loginAndRegisterForm" method="post" action="/signup/create" id="formSignup">
        <div class="form-group">
            <label for="inputName">Type your user name:</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="icon-user"></i></span>
              </div>
              <input autocomplete="off" id="inputName" name="name" type="text"  autofocus value="{{ user.name }}" class="form-control" placeholder="Name" aria-label="Username" required>
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail">Type your e-mail adress:</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="icon-mail-alt"></i></span>
              </div>
              <input autocomplete="off" id="inputEmail" name="email" type="email" value="{{ user.email }}" class="form-control" required placeholder="Email" aria-label="Email">
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword">Type your password:</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="icon-lock"></i></span>
              </div>
              <input name="password" id="inputPassword" type="password" class="form-control login-field  login-field-password" required placeholder="Password" aria-label="Password">
            </div>
        </div>
          <input type="checkbox" id="show-password" class="form-check-input mx-2"> <label for="show-password">Show password</label>
          <div>
            <button type="submit" class="btn btn-primary btn-block mt-2">Sign up</button>
          </div>
    </form>
{% endblock %}
