{% extends 'base.html' %}

{% block title %}Setting{% endblock %}

{% block body %}
<div class="modal fade" id="ChangePeriodsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit category</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="/showBalance/showBalance" method="post">
          <input type='hidden' name='customPeriodOfTime' value='true'>
          <div class="modal-body">
              <div class="form-group">
                  <label>Type new name of category</label>
                  <div class="input-group mb-2">
                      <div class="input-group-prepend">
                              <span class="input-group-text"><i class="icon-pencil-squared"></i></span>
                      </div>
                      <input autocomplete="off" value='{{balance.firstLimitDate}}'  name="fisrtLimitDate" id="datePickerFirstLimit" type="text" class="form-control" aria-label="Date">
                  </div>
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Switch on limit</label>
                  </div>
                  <label>Type limit for category</label>
                  <div class="input-group mb-2">
                      <div class="input-group-prepend">
                              <span class="input-group-text"><i class="icon-dollar"></i></span>
                      </div>
                      <input autocomplete="off" value='{{balance.firstLimitDate}}'  name="fisrtLimitDate" id="datePickerFirstLimit" type="text" class="form-control" aria-label="Date">
                  </div>
                  <div class="row">
                      <div class="col-xs-4 d-flex justify-content-start w-50">
                          <button type="submit" class="btn btn-primary m-1">Change</button>
                      </div>
                      <div class="col-xs-4 d-flex justify-content-end w-50">
                          <button type="button" class="btn btn-secondary m-1" data-dismiss="modal">Close</button>
                      </div>
                  </div>
              </div>
          </div>
      </form>
    </div>
  </div>
</div>
</div>





    <div class="container text-center mt-5">
        
        <div class="accordion" id="settings">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                  <button class="btn btn-primary collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Incomes categories
                  </button>
                </h2>
              </div>
          
              <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#settings">
                <div class="card-body">
                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group-vertical mr-2  w-100" role="group" aria-label="First group">
                          {%for incomeCategoriesName in setting.incomeCategoriesNames %}
                          <div class="mx-auto">
                            {{incomeCategoriesName}}     <button type="button" class="btn btn-link" style="font-size:12px;" data-toggle="modal" data-target="#ChangePeriodsModal">Edit</button>
                          </div>
                          {%endfor%}
                          <div class="mx-auto">
                            <button type="button" class="btn btn-success">Add new income category</button>
                          </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>


            <div class="card">
              <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                  <button class="btn btn-primary collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Expenses Categories
                  </button>
                </h2>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#settings">
                <div class="card-body">
                    <ul>
                        <li>Pierwsza kategoria</li>
                        <li>Druga kategoria</li>
                        <li>Trzecia kategoria</li>
                        <li>Czwarta kategoria</li>
                    </ul>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                  <button class="btn btn-primary collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    PaymentMethods
                  </button>
                </h2>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#settings">
                <div class="card-body">
                    <ul>
                        <li>Pierwsza kategoria</li>
                        <li>Druga kategoria</li>
                        <li>Trzecia kategoria</li>
                        <li>Czwarta kategoria</li>
                    </ul>
                </div>
              </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingFour">
                  <h2 class="mb-0">
                    <button class="btn btn-primary collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                      User settings
                    </button>
                  </h2>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#settings">
                  <div class="card-body">
                    <nav>
                        <li><a href="/">Home</a></li>
                        {% if current_user %}
                            <li><a href="/profile/show">Profile</a></li>
                            <li><a href="/logout">Log out</a></li>                                
                        {% endif %}
                    </nav>
                  </div>
                </div>
              </div>
          </div>
    </div>



    

    
{% endblock %}
