{% extends 'base.html' %}

{% block title %}Setting{% endblock %}


{% block footer %}
<script>
  $(document).ready(function(){
    $(checkBox1).click(function(){
      var isDisabled=$(limit).prop('disabled');
      if(isDisabled){
        $(limit).prop('disabled',false);
      }else{
        $(limit).prop('disabled',true);
      }
    });
  });

  $(".edit").click(function(){
    var categoryName= $(this).attr('value');
    $("#expenseCategoryNameHeader").html(categoryName);
    $("#incomeCategoryNameHeader").html(categoryName);
    $("#categoryOrPaymentMethodName").val(categoryName);
  });


$(function () {
  $('[data-popover="popover"]').popover()
})

$('.popover-dismiss').popover({
  trigger: 'focus'
})
  
</script>
{%endblock%}

{% block body %}
<!--Expense modal-->
<div class="modal fade" id="editExpenseCategory" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><label id="expenseCategoryNameHeader"></label></h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="/showBalance/showBalance" method="post">
          <div class="modal-body">
              <div class="form-group">
                  <label>Type new name of category</label>
                  <div class="input-group mb-2">
                      <div class="input-group-prepend">
                              <span class="input-group-text"><i class="icon-pencil-squared"></i></span>
                      </div>
                      <input autocomplete="off" name="newName" type="text" class="form-control" aria-label="Date" data-content="If you want only add a limit, keep this place empty." data-placement="auto" data-trigger="hover" data-popover="popover">
                  </div>
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="checkBox1">
                    <label class="form-check-label" for="checkBox1" aria-label="Date" data-content="This limit will be visible during adding expense." data-placement="auto" data-trigger="hover" data-popover="popover">Switch on limit</label>
                    
                  </div>
                  <label>Type limit for category</label>
                  <div class="input-group mb-2">
                      <div class="input-group-prepend">
                              <span class="input-group-text"><i class="icon-dollar"></i></span>
                      </div>
                      <input disabled autocomplete="off"  name="limit" id="limit" type="text" class="form-control" >
                  </div>
                  <div class="row">
                      <div class="col-xs-4 d-flex justify-content-start w-50">
                          <button type="submit" class="btn btn-primary m-1">Change</button>
                      </div>
                      <div class="col-xs-4 d-flex justify-content-end w-50">
                          <button type="button" class="btn btn-secondary m-1" data-dismiss="modal">Close</button>
                      </div>
                  </div>
              </div>
          </div>
      </form>
    </div>
  </div>
</div>
</div>

<!--Income modal-->
<div class="modal fade" id="editIncomeCategory" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><label id="incomeCategoryNameHeader"></label></h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="/Setting/changeCategoryOrPaymentMethod" method="post">
          <div class="modal-body">
              <div class="form-group">
                  <label>Type new name of category</label>
                  <div class="input-group mb-2 py-3">
                      <div class="input-group-prepend">
                              <span class="input-group-text"><i class="icon-pencil-squared"></i></span>
                      </div>
                      <input type="hidden" name="whatToChange" value="incomeCategory">
                      <input type="hidden" name="categoryOrPaymentMethodName" id="categoryOrPaymentMethodName">
                      <input autocomplete="off" name="newName" type="text" class="form-control" aria-label="Date">
                  </div>
                  </div>
                  <div class="row">
                      <div class="col-xs-4 d-flex justify-content-start w-50">
                          <button type="submit" class="btn btn-primary m-1">Change</button>
                      </div>
                      <div class="col-xs-4 d-flex justify-content-end w-50">
                          <button type="button" class="btn btn-secondary m-1" data-dismiss="modal">Close</button>
                      </div>
                  </div>
              </div>
          </div>
      </form>
    </div>
  </div>
</div>
</div>

<div class="container text-center mt-5">
  <div class="accordion" id="settings">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-primary collapsed" type="button" data-toggle="collapse"  data-target="#collapseOne" aria-expanded="true"  aria-controls="collapseOne" data-content="In this place you can add new income category, edit existing or add new one." data-placement="auto" data-trigger="hover" data-popover="popover">
            Incomes categories
          </button>
        </h2>
      </div>

      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#settings">
        <div class="card-body">
          <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
              <div class="btn-group-vertical mr-2  w-100" role="group" aria-label="First group">
                {%for incomeCategoriesName in setting.incomeCategoriesNames %}
                <div class="mx-auto">
                  {{incomeCategoriesName}}     
                  <button type="button" value={{incomeCategoriesName}} class="edit btn-categories" style="size:15px;" data-toggle="modal" data-target="#editIncomeCategory"><i class="icon-pencil-squared">Edit</i></button>
                  <button type="button" value={{incomeCategoriesName}} class="edit btn-categories" style="size:15px;" data-toggle="modal" data-target="#editIncomeCategory"><i class="icon-trash">Delete</i></button>
                </div>
                {%endfor%}
                <div class="mx-auto">
                  <button type="button" class="btn btn-success" data-toggle="modal" data-target="#editIncomeCategory">Add new income category</button>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h2 class="mb-0">
          <button class="btn btn-primary collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" data-content="In this place you can add new expenses category, edit existing or add new one." data-placement="auto" data-trigger="hover" data-popover="popover">
            Expenses Categories
          </button>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#settings">
        <div class="card-body">
          <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group-vertical mr-2  w-100" role="group" aria-label="First group">
              {%for expenseCategoriesName in setting.expenseCategoriesNames %}
              <div class="mx-auto">
                {{expenseCategoriesName}}     
                <button type="button" value={{expenseCategoriesName}} class="edit btn-categories" style="size:15px;" data-toggle="modal" data-target="#editExpenseCategory"><i class="icon-pencil-squared">Edit</i></button>
                <button type="button" value={{expenseCategoriesName}} class="edit btn-categories" style="size:15px;" data-toggle="modal" data-target="#editExpenseCategory"><i class="icon-trash">Delete</i></button>
              </div>
              {%endfor%}
              <div class="mx-auto">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#editExpenseCategory">Add new income category</button>
              </div>
            </div>
        </div>
      </div>
    </div>
    </div>
      <div class="card">
        <div class="card-header" id="headingThree">
          <h2 class="mb-0">
            <button class="btn btn-primary collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" data-content="In this place you can add new payments methods, edit existing or add new one." data-placement="auto" data-trigger="hover" data-popover="popover">
              PaymentMethods
            </button>
          </h2>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#settings">
          <div class="card-body">
              <ul>
                  <li>Pierwsza kategoria</li>
                  <li>Druga kategoria</li>
                  <li>Trzecia kategoria</li>
                  <li>Czwarta kategoria</li>
              </ul>
          </div>
        </div>
      </div>

      <div class="card">
          <div class="card-header" id="headingFour">
            <h2 class="mb-0">
              <button class="btn btn-primary collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour" data-content="In this place you can modify setting in connection with your user account." data-placement="auto" data-trigger="hover" data-popover="popover">
                User settings
              </button>
            </h2>
          </div>
          <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#settings">
            <div class="card-body">
              <nav>
                  <li><a href="/">Home</a></li>
                  {% if current_user %}
                      <li><a href="/profile/show">Profile</a></li>
                      <li><a href="/logout">Log out</a></li>                                
                  {% endif %}
              </nav>
            </div>
          </div>
        </div>
    </div>
</div>






{% endblock %}
