{% extends "base.html" %}

{% block title %}Log in{% endblock %}


{% block footer %}
    <link rel="stylesheet" href="css/showHidePassword.wink.css">

    <script src="/js/hideShowPassword.min.js"></script>
    <script src="/js/app.js"></script>
    
    
    <script>
        $(document).ready(function() {
            /**
              * Show password toggle button
              */
            $('#inputPassword').hideShowPassword({
                show: false,
                innerToggle: 'focus'
            });
        });
    </script>


    <script>
        $('#password-1').hidePassword(true);
        $('#password-2').showPassword('focus', {
        toggle: { className: 'my-toggle' }
        });
        $('#show-password').change(function(){
        $('#password-3').hideShowPassword($(this).prop('checked'));
        });
    </script>

{% endblock %}

{% block body %}
    <h1>Log in</h1>
    <form class="loginAndRegisterForm" action="/login/create" method="post">
        <div class="form-group"></div>
            <label for="inputEmail">Type your email adress:</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" ><i class="icon-mail-alt"></i></span>
                </div>
                <input name="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" autofocus value="{{ email }}" aria-label="Email">
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword">Type your password:</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="icon-lock"></i></span>
              </div>
              <input name="password" id="inputPassword" type="password" class="form-control" placeholder="Password" aria-label="Password">
            </div>
        </div>
        <div>
            <label>
                <input type="checkbox" class="form-check-input mx-2" name="remember_me" {% if remember_me %} checked="checked"{% endif %} /> Remember me
            </label>
        </div>
        <div>
            <button type="submit" class="btn btn-primary btn-block mt-2">Log in</button>
        </div>
        <div class='my-1 mx-4 d-flex flex-row-reverse'>
            <a style="color:grey; font-size: 15px;" href="/password/forgot">Forgot password?</a>
        </div>
        
    </form>

    
{% endblock %}
